rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sensors/{sensorID} {
      allow read, write: if false;
      
      match /readings/{reading} {
        allow read, write: if false;
      }
    }

    function isSignedIn(rqst) {
      return rqst.auth != null;
    }

    function isAdmin(rsc, rqst) {
      // In the /admin/users doc, admins' user IDs are stored in the array userId
      return isSignedIn(rqst) && rqst.auth.uid in rsc.data.userId;
    }

    match /admin/users {
      // All signed in users allowed to read the admin users doc because
      // this is used to check if the user is an admin
      allow read: if isSignedIn(request);
      // Only admin users are allowed to change the admin array
      allow write: if isAdmin(resource, request);
    }

    // Used to display values on live webpage
    match /current-reading/{readings} {
      allow read: if true;
      allow write: if false;
    }
  }
}
