rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    // Returns true if the current user is authenticated and is an admin user
    function isAdmin() {
      let isAdmin = get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin;
      return isSignedIn() && isAdmin;
    }

    match /sensors/{sensorDoc} {
      // All users can read from the sensor docs (the graph component of the
      // home page uses these docs)
      allow read: if true;

      // Admins are allowed to write to the sensor docs from the manage sensors
      // page
      allow write: if isAdmin();
      
      match /readings/{reading} {
        // Admins are allowed to read data for downloading it
        allow read: if isAdmin();

        // Only cloud functions can modify data
        // Deletes triggered by an admin user are still handled by cloud functions
        allow write: if false;
      }
    }

    // Only allow a user to be changed to an admin if the current user is an admin
    // Only allow changes to other fields if user is modifying their own user
    // doc, or if the user is an admin user, who can modify all accounts
    match /users/{userId} {
      function isCurrentUserDoc() {
        return isSignedIn() && request.auth.uid == userId;
      }
      // For a valid user doc update for a non-admin user, they must be signed in,
      // be changing their own doc, and not change the admin field to true
      function validNonAdminUpdate() {
        return isCurrentUserDoc() && request.resource.data.admin == false;
      }
      allow read: if isAdmin() || isCurrentUserDoc();
      allow write: if isAdmin() || validNonAdminUpdate();
    }

    // Used to display values on live webpage
    match /current-reading/{readings} {
      allow read: if true;
      allow write: if false;
    }
  }
}
