/* Style sheet for the Home screen component */
/* @media(min-width: 700px){
    .Content_Wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .Map_Wrapper {
        flex: 2;
    }
} */
.Map_Wrapper {
    flex: 2
}

/* .Side_Widgets {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
}

.Dial {
    border: 1px #ccc solid;
    padding: 10px;
}

.Multi_Purpose_Box {
    border: 1px #ccc solid;
    padding: 10px;
} */