/* This file contains all the styling for the Navigation Bar
All conditional formatting for small/big screens is in this file */

/* Style for navigation bar*/
.Navigation_Header {
    display:grid;
    grid-template-areas: "logo nav";
    background-color: #32bfd1;
    color: white;
}
  
/* Style for CEHAT logo in top right of nav bar */
.Logo {
    grid-area: logo;
    height: 70px;
  }

/* Arranges links in the navigation bar*/
nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
    font-family:"Oxygen";
  }

/* Style for navigation links*/
nav a, #changeLanguage {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
    text-decoration: none;
  }

/* Navigable link text gets larger when you hover */
nav a:hover, #changeLanguage:hover {
    transform: scale(1.1);
  }

/* Formatting for burger menu in small screen */
.Burger {
    display: none;
    grid-area: burger;
    margin: 0 20px 0 0;
    padding: 0;
    justify-self: end;
    font-size: 30px;
    border: none;
    background: none;
    outline: none;
    transition: 0.1s;
  }

  #globe {
    display: inline;
    margin-bottom: 0.25em;
    margin-right: 0.25em;
  }

/* Conditional formatting for small screens */
@media (max-width: 800px) {
    .Navigation_Header {
      grid-template-areas: "logo burger" "nav nav";
    }
    /* Drop down Menu Options*/
    nav {
      grid-template-rows: repeat(4, auto);
      grid-template-columns: none;
      grid-row-gap: 20px;
  
      padding: 30px 0 30px;
      background: rgba(40, 44, 47, 0.95);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    /* Menu button options */
    .Burger {
      display: inline;
    }
  }
  