.navLink {
    background-color: #f895a0;
    text-transform: capitalize;
    color: white;
    min-width: 150px;
    text-align:center;
    text-decoration: none;
    padding: 16px;
    border-radius: 32px;
}